@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400&display=swap');

html * {
    font-family: 'Asap', 'sans-serif';
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#app {
    height: 100%;
}